/***** single photo ********/
.metas-and-photos {
   display: flex; 
   margin-top: 50px;
}

/******* H2 *******/

.metas-and-photos h2{
    font-family: "SpaceMono";
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px; 
    text-transform: uppercase;
    width: 400px;
}

/* Description photo */

.metas-and-photos p{
    font-family: "SpaceMono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 20px;
}

.metas {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    border-bottom: 1px solid black;
    margin-left: 100px;    
}

.photos {
    display: flex;
    width: 50%;
    margin-right: 100px;
}


/**** bandeau contact ****/ 

.contact-photos {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.contact-banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
}

.contact-banner p {
   
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 20px;
}

.contact-button {
    display: flex;
    border: none;
    border-radius: 2px;
    background-color: #D8D8D8;
    height: 50px;
    width: 270px;
    justify-content: center;
    align-items: center;
    font-family: "SpaceMono", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-button:hover {
    background-color:  #807f7f;
    cursor: pointer;
    transition-duration: 2s;
}



.arrow-photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80px;
}

.arrow-direction {
    display: flex;
    gap: 40px;
}

.div-vignettes {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 17px;
    height: 90px;
}

.conteneur-vignette-precedent, .conteneur-vignette-suivant {
    overflow: hidden;
    width: 90px;
    height: 90px;
}
.conteneur-vignette-precedent figure, .conteneur-vignette-suivant figure {
    width: 100%;
    height: 100%;
}
.conteneur-vignette-precedent figure img, .conteneur-vignette-suivant figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/****** Vous aimez aussi **********/

.see-more {
  margin: 60px 100px;
}

.see-more h3 {
    font-family: "SpaceMono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 20px;

}

.photo-bloc {
    width: 100%;
}

.affichage-photo {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 564px 564px;
    grid-gap: 20px;
}

.autres-photos {
    width: 564px;
    height: 495px;
    position: relative;
    overflow: hidden;
}

.autres-photos .wp-block-image img {
    width: 564px;
    height: 495px;
    object-fit: cover;
}