/*********** Header ***********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 4px 0 #00000008;
}

nav {
    margin-right: 100px;
}

.logo {
    margin-left: 100px;
}

.logo img {
    max-width: 250px;
}

/*********** Menu ***********/


.menu {
    display: flex;
    gap: 50px;
}

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a:hover {
    font-weight: 700;
}

/*********** Footer ***********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px black solid;
    width: 100%;
}


/************ Main ***********


/*** filtre **/ 

.filtres {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
    gap: 30px;
}

#filtre-tri {
    padding-left: 300px;
}

.menu-deroulant {
    width: 260px;
    height: 45px;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-titre {
    padding-left: 10px;
}

.cache {
    display: none;
}

.menu-fleche {
    padding-right: 10px;
    cursor: pointer;
}

.apparition {
    animation: fade-in-top-filtres 0.5s ease-in-out;
}

.rotation {
    transform: rotate(180deg) translateX(10px);
    transition: transform 0.5s ease-in-out;
}

.menu-ouvert {
    border: 1.3px solid #215AFF
}

.menu-options {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 260px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    justify-content: flex-start;
    align-items: center;
    z-index: 75;
}

.menu-option {
    height: 45px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.cache {
    cursor: pointer;
}

.dernier {
    border-radius: 0 0 8px 8px;
}

.menu-option:hover {
    background-color: #FFD6D6;
}

.menu-option:active {
    background-color: #FE5858;
}

.menu-option:focus {
    background-color: #E00000
;
}

.menu-option.selectionne {
    background-color: #E00000;
    color: #fff;
}

.menu-option.dernier-selectionne {
    background-color: #E00000;
    color: #fff;
    border-radius: 0 0 8px 8px;
}


